#home {
  background: url("images/bg-1.jpg") no-repeat;
  background-size: cover;
}
#portfolio {
  background: url("images/bg-2.jpg") no-repeat;
 background-size: cover;
}
.fill-viewport {
  min-height: 100vh;
}
.quote {
  font-size: 2.2em; 
}
h1 {
  font-size: 3.5rem;
}
p {
  font-size: 1.2rem;
}
.img {
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  width: 85%;
  height: 285px;
}
