#home {
  background: url("http://cdn.pixabay.com/photo/2016/04/22/16/42/mt-fuji-1346096_960_720.jpg") no-repeat;
  background-size: cover;
}
#portfolio {
  background: url("http://cdn.pixabay.com/photo/2016/04/22/16/42/mt-fuji-1346096_960_720.jpg") no-repeat;
 background-size: cover;
}
.fill-viewport {
  min-height: 100vh;
}
.quote {
  font-size: 2.2em; 
}
h1 {
  font-size: 3.5rem;
}
p {
  font-size: 1.2rem;
}
.img {
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  width: 85%;
  height: 85%;
}
